body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: block;
    background-color: whitesmoke;
    padding: 4rem;
    padding-top: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10%;
}

label {
    font-size: 1.25rem;
}

input {
    font-size: 1.25rem;
    display: block;
    margin: 0.5rem 0 1.25rem;
    border: none;
    border-bottom: 3px solid gray;
    background: transparent;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.submit-button {
    display: block;
    margin: 1.5rem auto 0 auto;
    background-color: #FCFCFD;
    border-radius: 10%;
    border-width: 0px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 3rem;
    padding: 0 1.5rem;
    justify-content: center;
    transition: box-shadow .15s,transform .15s;
    font-size: 18px;
}

    .submit-button:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .submit-button:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

.invisible {
    display: none;
}
